.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
  padding: 10px;
  width: 600px;
  box-sizing: border-box;
}

.todo p {
  margin: 0;
  margin-left: 5px;
}

.todo:has(input:checked) .desc {
  text-decoration: line-through;
}


.todo .right,
.todo .left {
  display: flex;
  align-items: flex-start;
}

.todo .left .x-btn {
  color: red;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 1px 5px;
}

.todo .left .x-btn:hover,
.todo .left .x-btn:focus {
  background-color: rgb(255, 97, 97);
  color: white;
}